<div class="projects-container">
  <h1 class="title">Projects</h1>

  <!--Project 1-->
  <div class="project">
    <div class="project-image">
      <img src="assets/img/jpg/project-placeholder.jpg" alt="Project 1" />
    </div>

    <div class="project-text">
      <h3>Project 1</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est non,
        quidem quo earum dolorum placeat suscipit dolores, magni doloremque at
        dolor nobis illum quae deleniti aperiam sit quia sequi animi!.
      </p>
    </div>

    <div class="project-tags">
      <div class="tag tag-html">HTML5</div>
      <div class="tag tag-css">CSS</div>
      <div class="tag tag-js">JS</div>
      <div class="tag tag-reactjs">React JS</div>
      <div class="tag tag-idb">IndexedDb</div>
      <div class="tag tag-netlify">Netlify</div>
    </div>

    <div class="project-links">
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fa fa-link"></span> View Website
      </a>
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fab fa-github"></span> View Code
      </a>
    </div>
  </div>

  <!--Project 2-->
  <div class="project">
    <div class="project-image">
      <img src="assets/img/jpg/project-placeholder.jpg" alt="Project 2" />
    </div>

    <div class="project-text">
      <h3>Project 2</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quo odit
        accusamus ducimus sequi sint maxime numquam quibusdam libero quos
        veritatis, eaque ea maiores ex dolores aut officiis reprehenderit
        necessitatibus! Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Adipisci sint, delectus perspiciatis, saepe inventore assumenda
        quidem voluptas ab dicta autem enim aperiam? Molestiae et eius
        praesentium repellat vel nemo alias?
      </p>
    </div>

    <div class="project-tags">
      <div class="tag tag-html">HTML5</div>
      <div class="tag tag-css">CSS</div>
      <div class="tag tag-js">JS</div>
      <div class="tag tag-reactjs">React JS</div>
      <div class="tag tag-firebase">Firebase</div>
    </div>

    <div class="project-links">
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fa fa-link"></span> View Website
      </a>
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fab fa-github"></span> View Code
      </a>
    </div>
  </div>

  <!--Project 3-->
  <div class="project">
    <div class="project-image">
      <img src="assets/img/jpg/project-placeholder.jpg" alt="Project 3" />
    </div>

    <div class="project-text">
      <h3>Project 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quos illum
        delectus repellendus quo velit officia sit laboriosam harum. Molestias
        sunt minima numquam, sed repellendus nisi nostrum odio. Officia,
        blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Impedit, enim veniam illum ad sapiente nobis dolores quod architecto eos
        expedita, esse, tempora quisquam corporis repellendus quo quae fugiat
        quasi aliquid.
      </p>
    </div>

    <div class="project-tags">
      <div class="tag tag-html">HTML5</div>
      <div class="tag tag-css">CSS</div>
      <div class="tag tag-js">JS</div>
      <div class="tag tag-netlify">Netlify</div>
    </div>

    <div class="project-links">
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fa fa-link"></span> View Website
      </a>
      <a
        class="project-button"
        href=""
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="fab fa-github"></span> View Code
      </a>
    </div>
  </div>
</div>
