/* Projects */
.projects-container {
  padding: 110px 0 20px 0;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto 0 auto;
}

.title {
  color: rgb(38, 119, 180);
  font-size: 35px;
  text-align: center;
}

.project {
  padding: 10px 0;
  border-radius: 2px;
  margin: 20px 0 20px 0;
}
.project h3 {
  font-size: 1.4em;
  margin: 5px 0 10px;
}
.project-image {
  text-align: center;
  margin: 10px 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.project-image img {
  width: 100%;
  border-radius: 2px;
  margin-top: 5px;
}
.project-text p {
  margin-bottom: 10px;
}
.project-button {
  border-radius: 2px;
  padding: 10px 20px;
  display: inline-block;
  margin: 0px 10px 5px 0px;
  color: rgb(44, 44, 44);
  font-size: 0.8em;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.project-button:hover {
  background: #313131;
  color: white;
}
.dark .project-button:hover {
  background-color: rgb(199, 199, 199);
  color: black;
}
.project-tags {
  margin-bottom: 5px;
}
.tag {
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 0.8em;
  display: inline-block;
  margin: 0px 10px 5px 0px;
  border: 1px solid black;
}
.tag-html {
  border-color: #e54d26;
  color: black;
}
.tag-css {
  border-color: #0070ba;
  color: black;
}
.tag-bootstrap {
  border-color: #824ecf;
  color: #824ecf;
}
.tag-js {
  border-color: #f5e01f;
  color: black;
}
.tag-reactjs {
  border-color: #61dafb;
  color: black;
}
.tag-nodejs {
  border-color: #90c53f;
  color: #90c53f;
}
.tag-winforms {
  border-color: grey;
  color: grey;
}
.tag-csharp {
  border-color: #7a3396;
  color: #7a3396;
}
.tag-sharppcap {
  border-color: rgb(56, 56, 56);
  color: rgb(56, 56, 56);
}
.tag-semanticui {
  border-color: #35bdb2;
  color: #35bdb2;
}
.tag-electron {
  border-color: #437c86;
  color: #437c86;
}
.tag-discordjs {
  border-color: #8c9eff;
  color: #8c9eff;
}
.tag-json {
  border-color: black;
  color: black;
}
.tag-mysql {
  border-color: #00618a;
  color: #00618a;
}
.tag-php {
  border-color: #777bb3;
  color: #777bb3;
}
.tag-scss {
  border-color: #cf649a;
  color: #cf649a;
}
.tag-vue {
  border-color: #42b783;
  color: #42b783;
}
.tag-firebase {
  border-color: #ffca2c;
  color: black;
}
.tag-yelp {
  border-color: #d32323;
  color: #d32323;
}
.tag-algolia-places {
  border-color: #3a5395;
  color: #3a5395;
}
.tag-laravel {
  border-color: #e74430;
  color: #e74430;
}
.tag-wordpress {
  border-color: #1b749e;
  color: #1b749e;
}
.tag-asgard {
  border-color: #e89980;
  color: #e89980;
}
.tag-react {
  border-color: #61dafb;
  color: #61dafb;
}
.tag-ruby-on-rails {
  border-color: #cc0000;
  color: #cc0000;
}
.tag-sqlite {
  border-color: #044a64;
  color: #044a64;
}
.tag-netlify {
  border-color: orange;
  color: black;
}

.tag-idb {
  border-color: #7a3396;
  color: black;
}

.tag-stencil {
  border-color: silver;
  color: black;
}

.tag-angular {
  border-color: #d32323;
  color: black;
}
