/* Global styles */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
}

body {
  background: #fafafa;
}

a {
  color: rgb(0, 110, 253);
  text-decoration: inherit;
}

li a {
  display: block;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 2.8em;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

/* Media */
@media screen and (max-width: 599px) {
  .home-top-left-image {
    text-align: center !important;
  }
  .home-top-right h2 {
    text-align: center !important;
  }
}
@media screen and (max-width: 540px) {
  .nav-text {
    display: none;
  }
}
