<div class="home-top-container">
  <div class="home-top-left">
    <picture class="home-top-left-image">
      <img src="assets/img/jpg/profile.jpg" alt="Joshua Torres" />
    </picture>
  </div>

  <div class="home-top-right">
    <h2>Joshua Torres</h2>
    <ul>
      <li>
        <div class="icon is-small"><i class="fa fa-user"></i></div>
        <span>Fullstack Developer</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-location-arrow"></i></div>
        <span>Victoria, Texas</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-graduation-cap"></i></div>
        <span>Computer Science</span>
      </li>
    </ul>
  </div>
</div>

<div class="home-bottom-text">
  <p>
    I'm Joshua. A software developer intent on developing
    <a routerLink="../projects">cool projects</a> when I can.
  </p>
  <br />
  <p>
    If you are interested in getting in touch with me, feel free to
    <a routerLink="../contact">drop me a line</a>.
  </p>
  <div class="home-bottom-buttons">
    <a
      href="https://github.com/segfault0x61"
      target="_blank"
      rel="noreferrer noopener"
    >
      <div class="button github">
        <span class="icon is-small"><i class="fab fa-github"></i></span>
        Github
      </div>
    </a>
    <a
      href="https://www.linkedin.com/in/jtorresv/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <div class="button linkedin">
        <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
        LinkedIn
      </div>
    </a>
    <a href="assets/cv/resume.pdf" target="_blank">
      <div class="button CV">
        <span class="icon is-small"
          ><i class="fa fa-arrow-circle-down"></i
        ></span>
        Download CV
      </div>
    </a>
  </div>
</div>
